# =========================
# App
# =========================
NODE_ENV=development
PORT=3000

# =========================
# Database (Docker)
# Dans Docker Compose : host = postgres, port = 5432
# En local hors docker : host = localhost, port = 5433 (si tu exposes 5433:5432)
# =========================
DATABASE_URL="postgresql://CHANGE_ME:CHANGE_ME@postgres:5432/notifyhub?schema=public"

POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=CHANGE_ME
POSTGRES_PORT=5433

# =========================
# Redis (Docker)
# =========================
REDIS_HOST=redis
REDIS_PORT=6379

# =========================
# Admin auth
# =========================
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=CHANGE_ME
JWT_SECRET=CHANGE_ME_SUPER_SECRET

# =========================
# Push notifications (Expo) - quand implementés
# =========================
EXPO_ACCESS_TOKEN=CHANGE_ME

# =========================
# Webhooks - quand implementés
# =========================
WEBHOOK_SIGNATURE_HEADER=X-NotifyHub-Signature
WEBHOOK_SIGNATURE_ALGO=sha256